<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Define properties file -->
	<context:property-placeholder
		location="classpath:properties.properties" />

	<!-- define actual bean object that implement coach interface -->

	<bean id="myCoach"
		class="com.selftraining.springdemo.FootBallCoach">

		<!--Constructor Injection -->
		<constructor-arg ref="medicalService"></constructor-arg>
	</bean>

	<!-- Define Bean of Medical Service -->
	<bean id="medicalService"
		class="com.selftraining.springdemo.service.impl.MedicalServiceImpl"></bean>

	<!-- Define another bean tennis coach that use setter injection for medical 
		service -->
	<bean id="tennisCoach"
		class="com.selftraining.springdemo.TennisCoach">
		<property name="medicalService" ref="medicalService"></property>
	</bean>

	<bean id="connectionDB"
		class="com.selftraining.springdemo.DBConnection">
		<property name="userName" value="${connection.UserName}"></property>
		<property name="password" value="${connection.Password}"></property>
	</bean>

</beans>